################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Group1-Dijkstra_Algorithm/v17/.suo
/.vs/Group1-Dijkstra_Algorithm/project-colors.json